

      {{ $code := .Params.googleAnalytics }}
      {{ if $code }}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ $code }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '{{ $code }}');
      </script>
      {{ end }}

    <script src="{{"js/jquery-3.2.1.min.js" | absURL }}"></script>
    <script src="{{"js/popper.min.js" | absURL }}"></script>
    <script src="{{"js/bootstrap.min.js" | absURL }}"></script>
    <script src="{{"js/fontawesome-all.js" | absURL }}"></script>
    <script src="{{"js/script.js" | absURL }}"></script>

  </body>
</html>