{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $site := .Site.Data.site }}
{{ $footer := $data.footer }}
{{ $nav := $data.nav }}
<section id="footer">
	<nav class="navbar navbar-expand-sm navbar-light bg-white">
		<a class="navbar-brand" href="{{ .Site.BaseURL }}"><img src="{{ $site.logo | absURL }}" height="50px"></a>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav">
				<li class="nav-item align-self-center">
					<a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}{{ $nav.href2 }}">{{ $nav.title2 }}</a>
				</li>
				<li class="nav-item align-self-center">
					<a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}{{ $nav.href3 }}">{{ $nav.title3 }}</a>
				</li>
				<li class="nav-item align-self-center">
					<a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}{{ $nav.href4 }}">{{ $nav.title4 }}</a>
				</li>
				{{- if .Site.IsMultiLingual }}
				<li class="nav-item">
					<select id="select-language" onchange="location = this.value;" size="2" class="lang-select" style="padding-top: 22px;padding-left: 11px;">
						{{ $siteLanguages := .Site.Languages}}
						{{ $pageLang := .Page.Lang}}
						{{ range .Page.AllTranslations }}
						{{ $translation := .}}
						{{ range $siteLanguages }}
						{{ if eq $translation.Lang .Lang }}
						{{ $selected := false }}
						{{ if eq $pageLang .Lang}}
						<option class="sel optionEN" id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected style="display: none">
							{{ .LanguageName }}
						</option>
						{{ else }}
						<option class="sel optionZH" id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}
						</option>
						{{ end }}
						{{ end }}
						{{ end }}
						{{ end }}
					</select>
				</li>
				{{ end }}
			</ul>
			<div class="d-flex justify-content-center mx-auto">
				{{ range $key, $value := .Site.Data.social }}
				<a href="{{ $value }}" class="ml-2 btn-{{$key}}" target="_blank"><i class="fab fa-{{ $key }}"></i></a>
				{{ end }}
			</div>
			<div class="d-flex justify-content-end text-muted">{{ $footer.footertext }}</div>
		</div>
	</nav>
</section>