{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $site := .Site.Data.site }}
{{ $footer := $data.footer }}
{{ $nav := $data.nav }}
<section id="footer">
	<nav class="navbar navbar-expand-lg navbar-light bg-white">
		<a class="navbar-brand mx-auto" href="#"><img src="{{ $site.footerlogo | absURL }}" height="30px"></a>
		<div class="navbar-collapse" id="navbarCollapseFooter">
			<ul class="navbar-nav pl-md-3">
				<li class="nav-item align-self-center">
					<a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}{{ $nav.href2 }}">{{ $nav.title2 }}</a>
				</li>
				<li class="nav-item align-self-center">
					<a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}{{ $nav.href3 }}">{{ $nav.title3 }}</a>
				</li>
				<li class="nav-item align-self-center">
					<a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}{{ $nav.href4 }}">{{ $nav.title4 }}</a>
				</li>
                {{ if .Site.IsMultiLingual }}
				<li class="nav-item align-self-center">
                    {{ $siteLanguages := .Site.Languages}}
                    {{ $pageLang := .Page.Lang}}
                    {{ range .Page.AllTranslations }}
                    {{ $translation := .}}
                    {{ range $siteLanguages }}
                    {{ if eq $translation.Lang .Lang }}
                    {{ $selected := false }}
                    {{ if eq $pageLang .Lang}}
                    <a class="nav-link" id="{{ $translation.Language }}" href="{{ $translation.Permalink }}" style="display: none">
                        {{ .LanguageName }}
                    </a>
                    {{ else }}
                    <a class="nav-link" id="{{ $translation.Language }}" href="{{ $translation.Permalink }}">{{ .LanguageName }}
                    </a>
                    {{ end }}
						{{ end }}
						{{ end }}
						{{ end }}
                </li>
                {{ end }}
            </ul>

            <span class="d-flex justify-content-center mx-auto pb-sm-2" style="padding: .5rem 1rem;">
                {{ range $key, $value := .Site.Data.social }}
                <a href="{{ $value }}" class="ml-2 btn-{{$key}}" target="_blank"><i class="fab fa-{{ $key }}"></i></a>
                {{ end }}
            </span>
            <span class="d-flex text-muted" style="align-items: center;
    justify-content: center;">{{ $footer.footertext }}</span>
			</div>
</nav>
</section>