{{ $data := index .Site.Data .Site.Language.Lang }}
{{ $site := .Site.Data.site }}
{{ $cover := $data.cover }}
{{ $nav := $data.nav }}
<nav class="navbar nav-transparent navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="{{.Site.BaseURL}}"><img src="{{ $site.logo | absURL }}" height="100px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav" style="margin-left: auto;">

            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}{{ $nav.href1 }}">{{ $nav.title1 }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}{{ $nav.href2 }}">{{ $nav.title2 }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}{{ $nav.href3 }}">{{ $nav.title3 }}</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{{ .Site.BaseURL | absLangURL }}{{ $nav.href4 }}">{{ $nav.title4 }}</a>
            </li>

            {{- if .Site.IsMultiLingual }}
            <li class="nav-item" style="margin: 8px 15px;">
                <select id="select-language" onchange="location = this.value;">
                    {{ $siteLanguages := .Site.Languages}}
                    {{ $pageLang := .Page.Lang}}
                    {{ range .Page.AllTranslations }}
                    {{ $translation := .}}
                    {{ range $siteLanguages }}
                    {{ if eq $translation.Lang .Lang }}
                    {{ $selected := false }}
                    {{ if eq $pageLang .Lang}}
                    <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>
                        {{ .LanguageName }}
                    </option>
                    {{ else }}
                    <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}
                    </option>
                    {{ end }}
                    {{ end }}
                    {{ end }}
                    {{ end }}
                </select>
            </li>
            {{ end }}
        </ul>
    </div>
</nav>