{{ $pricing := .Site.Data.pricing }}
<section id="pricing" class="py-5">
    <div class="container text-center">
        <h2 class="pt-5 h2">{{ $pricing.title }}</h2>
        <p class="text-muted pb-5">{{ $pricing.description }}</p>
        <div class="row justify-content-md-center">
            <div class="col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="pricing shadow">
                    <div class="header bg-light p-3 text-dark">
                        <h5 class="h5 title">{{ $pricing.title1 }}</h5>
                        <span class="price my-3">{{ $pricing.price1 }}</span>
                        <a href="{{ "/#contact" | absURL }}" class="btn btn-success">Contact</a>
                    </div>
                    <div class="body p-3">
                        <div class="features text-left">
                            <div class="my-2 text-muted">
                                <span><i class="fa fa-check text-success"></i></span>
                                <span>{{ $pricing.description1 }}</span>
                            </div>
                            <div class="my-2 text-muted">
                                <span><i class="fa fa-check text-success"></i></span>
                                <span>{{ $pricing.description1 }}</span>
                            </div>
                            <div class="my-2 text-muted">
                                <span><i class="fa fa-check text-success"></i></span>
                                <span>{{ $pricing.description1 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-3 col-md-6 col-sm-12 mb-4">
                <div class="pricing shadow">
                    <div class="header bg-light p-3 text-dark">
                        <h5 class="h5 title">{{ $pricing.title2 }}</h5>
                        <span class="price my-3">{{ $pricing.price2 }}</span>
                        <a href="{{ "/#contact" | absURL }}" class="btn btn-success">Contact</a>
                    </div>
                    <div class="body p-3">
                        <div class="features text-left">
                            <div class="my-2 text-muted">
                                <span><i class="fa fa-check text-success"></i></span>
                                <span>{{ $pricing.description2 }}</span>
                            </div>
                            <div class="my-2 text-muted">
                                <span><i class="fa fa-check text-success"></i></span>
                                <span>{{ $pricing.description2 }}</span>
                            </div>
                            <div class="my-2 text-muted">
                                <span><i class="fa fa-check text-success"></i></span>
                                <span>{{ $pricing.description2 }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>