{{ $team := .Site.Data.team }}
{{ $teamM1 := .Site.Data.team1 }}
{{ $teamM2 := .Site.Data.team2 }}
{{ $teamM3 := .Site.Data.team3 }}
<section id="team" class="text-center py-5">
  <div class="container">
    <h2 class="pt-5 h2">{{ $team.title }}</h2>
    <p class="text-muted pb-5">{{ $team.description }}</p>
    <div class="members row justify-content-md-center mt-1">
      <div class="col-12 col-lg-3 col-md-3 col-sm-3 mb-4">
          <img class="mb-3 teamAvatar shadow" src="{{.Site.BaseURL}}{{ $teamM1.avatar }}" alt="{{ $teamM1.name }}">
          <h4 class="h4">{{ $teamM1.name }}</h4>
          <div class="text-muted">{{ $teamM1.description }}</div>
          <div class="text-center mt-3">
            <a data-toggle="tooltip" title="facebook" href="{{ $teamM1.facebook }}" class="ml-2 btn btn-sm btn-filled btn-facebook"><i class="fab fa-facebook"></i></a>
            <a data-toggle="tooltip" title="instagram" href="{{ $teamM1.instagram }}" class="ml-2 btn btn-sm btn-filled btn-instagram"><i class="fab fa-instagram"></i></a>
            <a data-toggle="tooltip" title="linkedin" href="{{ $teamM1.linkedin }}" class="ml-2 btn btn-sm btn-filled btn-linkedin"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-12 col-lg-3 col-md-3 col-sm-3 mb-4">
          <img class="mb-3 teamAvatar shadow" src="{{.Site.BaseURL}}{{ $teamM2.avatar }}" alt="{{ $teamM2.name }}">
          <h4 class="h4">{{ $teamM2.name }}</h4>
          <div class="text-muted">{{ $teamM2.description }}</div>
          <div class="text-center mt-3">
            <a data-toggle="tooltip" title="facebook" href="{{ $teamM2.facebook }}" class="ml-2 btn btn-sm btn-filled btn-facebook"><i class="fab fa-facebook"></i></a>
            <a data-toggle="tooltip" title="instagram" href="{{ $teamM2.instagram }}" class="ml-2 btn btn-sm btn-filled btn-instagram"><i class="fab fa-instagram"></i></a>
            <a data-toggle="tooltip" title="linkedin" href="{{ $teamM2.linkedin }}" class="ml-2 btn btn-sm btn-filled btn-linkedin"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>

        <div class="col-12 col-lg-3 col-md-3 col-sm-3 mb-4">
          <img class="mb-3 teamAvatar shadow" src="{{.Site.BaseURL}}{{ $teamM3.avatar }}" alt="{{ $teamM3.name }}">
          <h4 class="h4">{{ $teamM3.name }}</h4>
          <div class="text-muted">{{ $teamM3.description }}</div>
          <div class="text-center mt-3">
            <a data-toggle="tooltip" title="facebook" href="{{ $teamM3.facebook }}" class="ml-2 btn btn-sm btn-filled btn-facebook"><i class="fab fa-facebook"></i></a>
            <a data-toggle="tooltip" title="instagram" href="{{ $teamM3.instagram }}" class="ml-2 btn btn-sm btn-filled btn-instagram"><i class="fab fa-instagram"></i></a>
            <a data-toggle="tooltip" title="linkedin" href="{{ $teamM3.linkedin }}" class="ml-2 btn btn-sm btn-filled btn-linkedin"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
    </div>
  </div>
</section>

<style type="text/css">
</style>